<form name="burpForm" ng-submit="save()" ng-controller="BurpFormCtrl" class="form-horizontal">
    <div class="col-lg-8">
        <div class="page-header"><h3>{{title}}<span ng-show="burp.id"> ({{burp.id}})</span></h3></div>
        <div class="form-group">
            <label class="col-lg-3" for="name">Name:</label>

            <div class="col-lg-9">
                <input class="form-control" ng-model="burp.name" type="text" id="name" focus required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3" for="recoType">RecoType:</label>

            <div class="col-lg-9">
                <select class="form-control" ng-model="burp.recoType"
                        ng-options="t.name as t.name for t in recoTypes"
                        id="recoType"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3" for="recoEngine">RecoEngine:</label>

            <div class="col-lg-9">
                <select class="form-control" ng-model="burp.recoEngine"
                        ng-options="t.name as t.name for t in recoEngines"
                        id="recoEngine"></select>
            </div>
        </div>

        <legend>Scoring functions</legend>

        <div class="form-group">
            <span class="nullable">
                <select class="form-control"
                        ng-model="selectedScoringFunction"
                        ng-options="key.value as key.name for key in scoringFunctionKeys | filter:supportedScoringFunctions">
                    <option value="">-- no scoring function --</option>
                </select>
            </span>
        </div>

        <div ng-show="selectedScoringFunction == ScoringFunctionKey.UPSELLING" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/scoring/upsell-form.html'"></div>
        <div ng-show="selectedScoringFunction == ScoringFunctionKey.AB_UPSELLING" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/scoring/ab-upsell-form.html'"></div>

        <legend>Filters</legend>

        <div class="form-group">
            <label class="checkbox col-lg-3" ng-repeat="key in filterKeys | filter:supportedFilters">
                <input type="checkbox" checklist-model="selectedFilters" checklist-value="key.value"> {{key.name}}
            </label>
        </div>

        <hr>

        <div ng-hide="selectedFilters.indexOf(FilterKey.SEASON) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/season-filter.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.BRAND) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/brand-filter.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.TAG) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/tag-filter.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.PRICE) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/price-filter-form.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.LAYER) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/layer-filter-form.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.BASKET_VARIANTS) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/basket-variants-filter.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.RECO_VARIANTS) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/reco-variants-filter.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.REMOVE_ALL) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/remove-all-filter-form.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.TARGET_GROUP_SET) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/target-group-set-filter.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.SEASON_CODE) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/season-code-filter-form.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.ATTRIBUTE_SET_CODE) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/attribute-set-code-filter-form.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.SALE_CODE) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/sale-code-filter-form.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.GENDER_CODE) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/gender-code-filter-form.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.AGE_GROUP_CODE) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/age-group-code-filter-form.html'"></div>


        <div class="text-right">
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-disabled="burpForm.$invalid">Save</button>
        </div>

    </div>
</form>
