<div class="col-lg-8">

    <div class="page-header col-lg-12">
        <div class="col-lg-4"><h3>Business Rules Config</h3></div>
        <div class="col-lg-8 align-right">
            <h3>
                <span ng-show="burp.approved" class="label label-success">Approved</span>
                <span ng-hide="burp.approved" class="label label-primary">Not Approved</span>
                <span ng-show="burp.archived" class="label label-warning">Archived</span>
            </h3>
        </div>
    </div>

    <p class="col-lg-12">
        <strong class="col-lg-3 strong align-right">Id:</strong>
        <span class="col-lg-9">{{burp.id}}</span>

        <strong class="col-lg-3 strong align-right">Name:</strong>
        <span class="col-lg-9">{{burp.name}}</span>

        <strong class="col-lg-3 strong align-right">RecoType:</strong>
        <span class="col-lg-9">{{burp.recoType}}</span>

        <strong class="col-lg-3 strong align-right">RecoEngine:</strong>
        <span class="col-lg-9">{{burp.recoEngine}}</span>
    </p>

    <legend>Scoring Function</legend>
    <div ng-hide="selectedScoringFunction">No scoring function</div>
    <div ng-show="selectedScoringFunction == ScoringFunctionKey.UPSELLING" data-ng-include
         data-src="'/ws/admin/src/config-app/views/burp/scoring/upsell-view.html'"></div>
    <div ng-show="selectedScoringFunction == ScoringFunctionKey.AB_UPSELLING" data-ng-include
         data-src="'/ws/admin/src/config-app/views/burp/scoring/ab-upsell-view.html'"></div>

    <legend>Filters</legend>
    <span ng-show="burp.filters.length == 0">No Filters</span>

    <div ng-hide="burp.filters.length == 0" class="col-lg-12">
        <div ng-repeat="key in filterKeys | filter:supportedFilters" class="col-lg-3">
            {{key.name}}
            <i class="fa fa-fw" ng-class="checkmark(selectedFilters.indexOf(key.value) != -1)"></i>
        </div>
    </div>

    <div class="col-lg-12">
        <hr>
        <div ng-hide="selectedFilters.indexOf(FilterKey.SEASON) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/season-filter.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.BRAND) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/brand-filter.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.TAG) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/tag-filter.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.LAYER) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/layer-filter-view.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.PRICE) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/price-filter-view.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.BASKET_VARIANTS) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/basket-variants-filter.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.RECO_VARIANTS) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/reco-variants-filter.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.REMOVE_ALL) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/remove-all-filter-view.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.TARGET_GROUP_SET) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/target-group-set-filter.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.SEASON_CODE) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/season-code-filter-view.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.ATTRIBUTE_SET_CODE) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/attribute-set-code-filter-view.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.SALE_CODE) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/sale-code-filter-view.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.GENDER_CODE) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/gender-code-filter-view.html'"></div>
        <div ng-hide="selectedFilters.indexOf(FilterKey.AGE_GROUP_CODE) == -1" data-ng-include
             data-src="'/ws/admin/src/config-app/views/burp/filters/age-group-code-filter-view.html'"></div>
    </div>

    <div class="align-right">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-success" ng-hide="burp.approved || burp.archived" ng-click="approve()">Approve
        </button>
        <button class="btn btn-warning" ng-hide="burp.archived" ng-click="archive(true)">Archive</button>
        <button class="btn btn-warning" ng-show="burp.archived" ng-click="archive(false)">Restore</button>
        <button class="btn btn-primary" ng-hide="burp.approved || burp.archived" ng-click="edit()">Edit</button>
    </div>
</div>

