<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Attribute Set Code Filter</h4>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="control-label col-lg-3" for="excludeAttributeSet">Should exclude:</label>

            <input id="excludeAttributeSet" class="checkbox-inline" type="checkbox" ng-model="filters.attributeSetCodeFilter.exclude">
        </div>

        <div class="form-group">
            <label class="checkbox col-lg-3" ng-repeat="attributeSet in attributeSets">
                <input type="checkbox" checklist-model="filters.attributeSetCodeFilter.attributeSets"
                       checklist-value="attributeSet.name"> {{attributeSet.name}}
            </label>
        </div>
    </div>
</div>
