<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Attribute Set Code Filter</h4>
    </div>
    <div class="panel-body">
        <div class="form-group col-lg-12">
            <strong class="col-lg-3 strong align-right">Should exclude:</strong>
        <span class="col-lg-2">
            <i class="fa fa-fw" ng-class="checkmark(filters.attributeSetCodeFilter.exclude)"></i>
        </span>
        </div>
        <div class="form-group">
            <div ng-repeat="code in attributeSets" class="col-lg-3">
                {{code.name}}
                <i class="fa fa-fw"
                   ng-class="checkmark(filters.attributeSetCodeFilter.attributeSets.indexOf(code.value) != -1)"></i>
            </div>
        </div>
    </div>
</div>
