<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Gender Code Filter</h4>
    </div>
    <div class="panel-body">
        <strong class="col-lg-4 strong align-right">Gender:</strong>
        <span class="col-lg-3">{{filters.genderCodeFilter.gender}}</span>

        <strong class="col-lg-3 strong align-right">Should exclude:</strong>
        <span class="col-lg-2">
            <i class="fa fa-fw" ng-class="checkmark(filters.genderCodeFilter.exclude)"></i>
        </span>
    </div>
</div>
