<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Layer Filter</h4>
    </div>
    <div class="panel-body">
        <span ng-show="cascade.pipelines.length == 0">No Pipelines</span>

        <table class="table table-striped" ng-hide="filters.layerFilter.length == 0">
            <thead>
            <tr>
                <th class="text-center">For layer</th>
                <th class="text-center">Do not recommend layers</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="layer in filters.layerFilter">
                <td class="col-sm-3 text-center"><span class="label label-info">{{layer.from}}</span></td>
                <td class="col-sm-9 text-center">
                    <span ng-repeat="layerTo in layer.to" class="label label-warning">{{layerTo}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
