<div class="panel panel-default" ng-controller="LayerFilterCtrl">
    <div class="panel-heading">
        <h4 class="panel-title">Layer Filter</h4>
    </div>

    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-default form-control" ng-click="addLayer()"><i
                    class="fa fa-plus"></i>
                Add
            </button>
        </div>
    </div>

    <table class="table table-striped" ng-hide="filters.layerFilter.length == 0">
        <thead>
        <tr>
            <th class="col-sm-2 text-center">For layer</th>
            <th class="col-sm-9 text-center">Do not recommend layers</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="layer in filters.layerFilter">
            <td>
                <select class="form-control"
                        ng-model="layer.from"
                        ng-options="t.name as t.name for t in layers">
                </select>
            </td>
            <td>
                <select class="form-control"
                        chosen
                        multiple
                        allow-single-deselect="true"
                        ng-model="layer.to"
                        ng-options="t.name as t.name for t in layers">
                </select>
            </td>
            <td>
                <button type="button" class="btn btn-mini" ng-click="removeLayer($index)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
