<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Price Filter</h4>
    </div>
    <div class="panel-body">
        <strong class="col-lg-4 strong align-right">Price limit (in cents):</strong>
        <span class="col-lg-3">{{filters.priceFilter.limit}}</span>

        <strong class="col-lg-3 strong align-right">Mandatory:</strong>
        <span class="col-lg-2">
            <i class="fa fa-fw" ng-class="checkmark(filters.priceFilter.mandatory)"></i>
        </span>
    </div>
</div>
