<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Remove All Filter</h4>
    </div>
    <div class="panel-body">
        <label class="col-lg-3 text-right" for="removeAllLayers">Remove all recos for layers:</label>

        <div class="col-lg-9">
            <select id="removeAllLayers"
                    class="form-control"
                    chosen
                    multiple
                    allow-single-deselect="true"
                    ng-model="filters.removeAllFilter"
                    ng-options="t.name as t.name for t in layers">
            </select>
        </div>
    </div>
</div>
