<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Season Code Filter</h4>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="control-label col-lg-3" for="excludeSeason">Should exclude:</label>

            <input id="excludeSeason" class="checkbox-inline" type="checkbox" ng-model="filters.seasonCodeFilter.exclude">
        </div>

        <div class="form-group">
            <label class="checkbox col-lg-3" ng-repeat="season in seasons">
                <input type="checkbox" checklist-model="filters.seasonCodeFilter.seasonCodes"
                       checklist-value="season.name"> {{season.name}}
            </label>
        </div>
    </div>
</div>
