#wrapper {
    padding-left: 200px;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
    margin-left: -200px;
    left: 200px;
    width: 200px;
    background: #d7d7d7;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

#page-content-wrapper {
    width: 100%;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width:767px) {

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        left: 0;
    }

    #wrapper.active {
        position: relative;
        left: 200px;
    }

    #wrapper.active #sidebar-wrapper {
        left: 200px;
        width: 200px;
        transition: all 0.4s ease 0s;
    }
}

/* footer */
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -75px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 75px; /* .push must be the same height as .footer */
}