<h3>AB-Test Configs</h3>
<div class="col-lg-12">
    <div class="col-lg-7">
        <form class="form-inline">
            <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-default form-control" ng-click="newAbTest()"><i class="fa fa-plus"></i> Add
                    </button>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="archivedAbTests" ng-change="refreshTable()">
                        Archived
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="activeAbTests">
                        Active
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="defaultAbTests">
                        Default
                    </label>
                </div>
            </div>
        </form>

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Name</th>
                <th class="text-center">Reco Context</th>
                <th class="text-center">Reco Type</th>
                <th class="text-center">Approved</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="abTest in abTests | filter:{active:activeAbTests} | filter:{dflt:defaultAbTests}">
                <td class="text-center">{{abTest.id}}</td>
                <td><a ng-href="#ab-test/view/{{abTest.id}}">{{abTest.name}}</a></td>
                <td>{{abTest.recoContext}}</td>
                <td>{{abTest.recoType}}</td>
                <td class="text-center">
                    <span ng-show="abTest.approved" class="label label-success">
                           <i class="fa fa-fw fa-check"></i>
                    </span>
                    <span ng-hide="abTest.approved" class="label label-primary">
                           <i class="fa fa-fw fa-times"></i>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>