<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">AB-Upselling</h4>
    </div>
    <div class="panel-body">
        <div class="well">scoring_function(reco) = reco_click_probability &times;
            buy_probability ^ &alpha; &times; price_contribution ^ &beta;</div>

        <div class="col-lg-2">
            <label>Parameters range: </label>
        </div>

        <div class="col-lg-2">
            <strong class="col-lg-4 strong align-right">Min:</strong>
            <span class="col-lg-8">{{scoringFunctions.abUpsell.min}}</span>
        </div>

        <div class="col-lg-2">
            <strong class="col-lg-4 strong align-right">Max:</strong>
            <span class="col-lg-8">{{scoringFunctions.abUpsell.max}}</span>
        </div>

        <div class="col-lg-2">
            <strong class="col-lg-4 strong align-right">Step:</strong>
            <span class="col-lg-8">{{scoringFunctions.abUpsell.step}}</span>
        </div>

        <div class="col-lg-4">
            <strong class="col-lg-10 strong align-right">Use test buy probabilities:</strong>
            <span class="col-lg-2">
                <i class="fa fa-fw" ng-class="checkmark(scoringFunctions.upsell.useTestBuyProb)"></i>
            </span>
        </div>

    </div>
</div>
