<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Upselling</h4>
    </div>
    <div class="panel-body">

        <div class="well">scoring_function(reco) = reco_click_probability ^ &alpha; &times;
            buy_probability ^ &beta; &times; price_contribution ^ &gamma;</div>


        <div class="form-group col-lg-2">
            <label>Parameters: </label>
        </div>

        <div class="form-group col-lg-2">
            <label class="col-lg-4 text-right" for="alpha">&alpha;</label>

            <div class="col-lg-8">
                <input class="form-control" ng-model="scoringFunctions.upsell.recoClickProbPower" type="text" id="alpha">
            </div>
        </div>

        <div class="form-group col-lg-2">
            <label class="col-lg-4 text-right" for="beta">&beta;</label>

            <div class="col-lg-8">
                <input class="form-control" ng-model="scoringFunctions.upsell.buyProbPower" type="text" id="beta">
            </div>
        </div>

        <div class="form-group col-lg-2">
            <label class="col-lg-4 text-right" for="gamma">&gamma;</label>

            <div class="col-lg-8">
                <input class="form-control" ng-model="scoringFunctions.upsell.priceContributionPower" type="text" id="gamma">
            </div>
        </div>

        <div class="form-group col-lg-4">
            <label class="col-lg-10 text-right" for="test">Use test buy probabilities:</label>

            <div class="col-lg-2">
                <input type="checkbox" ng-model="scoringFunctions.upsell.useTestBuyProb" id="test">
            </div>
        </div>
    </div>
</div>
