<form name="newsletterForm" ng-submit="save()" ng-controller="NewsletterFormCtrl" class="form-horizontal">
    <div class="col-lg-8">
        <div class="page-header"><h3>{{title}}<span ng-show="newsletter.id"> ({{newsletter.id}})</span></h3></div>

        <div class="form-group">
            <label class="col-lg-3" for="name">Name:</label>

            <div class="col-lg-9">
                <input class="form-control" ng-model="newsletter.name" type="text" id="name" focus required>
            </div>
        </div>

        <legend>Group Configs</legend>

        <div ng-controller="NewsletterGroupConfigsCtrl">
            <div class="row">
                <div class="col-md-2">
                    <button type="button" class="btn btn-default form-control" ng-click="addGroupConfig()"><i
                            class="fa fa-plus"></i>
                        Add
                    </button>
                </div>
            </div>

            <table class="table table-striped" ng-hide="newsletter.groupConfigs.length == 0">
                <thead>
                <tr>
                    <th class="col-sm-6 text-center">Positions</th>
                    <th class="col-sm-5 text-center">Cascade</th>
                    <th class="col-sm-1"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="groupConfig in newsletter.groupConfigs">
                    <td>
                        <bootstrap-tagsinput tagclass="label label-success"
                                             ng-model="groupConfig.positions"></bootstrap-tagsinput>
                    </td>
                    <td>
                        <select class="form-control" ng-model="groupConfig.cascadeId"
                                ng-options="t.id as t | configName for t in cascades ">
                        </select>
                    </td>
                    <td>
                        <button type="button" class="btn btn-mini" ng-click="removeGroupConfig($index)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="text-right">
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-disabled="newsletterForm.$invalid">Save</button>
        </div>

    </div>
</form>
